{% extends 'base.html' %}
{% block title %}Document List{% endblock %}
{% block content %}
    <h1>Documents</h1>
    <a href="{% url 'documents:editor_page' 0 %}" class="btn btn-primary mb-3">Create New Document</a>
    <div class="list-group" hx-get="{% url 'documents:document_list' %}" hx-trigger="load, every 5s">
        {% for document in documents %}
            <a href="{% url 'documents:editor_page' document.id %}" class="list-group-item list-group-item-action">
                {{ document.title }}
                <small>(Updated: {{ document.updated_at }})</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}