{% extends 'base.html' %}
{% block title %}{{ document.title }}{% endblock %}
{% block head %}
    <script src="{% static 'js/editor.js' %}"></script>
    <script src="{% static 'js/websocket.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>{{ document.title }}</h1>
    <div id="editor-toolbar" class="btn-group mb-3">
        <button class="btn btn-secondary block-type" data-type="text">Text</button>
        <button class="btn btn-secondary block-type" data-type="heading">Heading</button>
        <button class="btn btn-secondary block-type" data-type="list">List</button>
        <button id="btn btn-primary" id="ai-suggest">Get AI Suggestions</button>
    </div>
    <div id="editor" data-document-id="{{ document.id }}"></div>
    <div class="mt-3">
        <input type="file" type="file" id="file-upload" accept=".pdf,image/*">
        <div id="file-list"></div>
    </div>
    <input type="hidden" name="csrf_token" value="{% csrf_token %}">
{% endblock %}