<nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active text-white" href="{% url 'documents:document_list' %}">
                    <span data-feather="home"></span>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'documents:document_list' %}">
                    <span data-feather="file"></span>
                    Documents
                </a>
            </li>
        </ul>
    </div>
</nav>